---
import StoreProductList from '../components/StoreProductList.tsx';
---
<html>
  <head>
    <title>Store Kolkative</title>
  </head>
  <body class="min-h-screen bg-default text-default">
    <h1 class="text-3xl font-bold mb-8 text-center">Store Kolkative</h1>
    <StoreProductList />
  </body>
</html> 